In [140]:
import requests
import json
import glob
import pandas as pd
from psycopg2 import connect

In [141]:
headers = {'content_length':'2225', 'x-api-version': '2', "accept":'application/json'}
response = requests.get('https://api.ratings.food.gov.uk/Establishments?name=Fishcotheque&address=SE1 8UD', headers=headers)

In [112]:
print(response.status_code)

200

In [113]:
response.text

'{"establishments":[{"FHRSID":484685,"ChangesByServerID":0,"LocalAuthorityBusinessID":"83870/0079/A/000","BusinessName":"Fishcotheque","BusinessType":"Takeaway/sandwich shop","BusinessTypeID":7844,"AddressLine1":"79A Waterloo Road","AddressLine2":"London","AddressLine3":"","AddressLine4":"","PostCode":"SE1 8UD","Phone":"","RatingValue":"4","RatingKey":"fhrs_4_en-gb","RatingDate":"2021-01-09T00:00:00","LocalAuthorityCode":"522","LocalAuthorityName":"Lambeth","LocalAuthorityWebSite":"http://www.lambeth.gov.uk","LocalAuthorityEmailAddress":"foodhealthandsafety@lambeth.gov.uk","scores":{"Hygiene":5,"Structural":10,"ConfidenceInManagement":5},"SchemeType":"FHRS","geocode":{"longitude":"-0.111763","latitude":"51.504095"},"RightToReply":"","Distance":null,"NewRatingPending":false,"meta":{"dataSource":null,"extractDate":"0001-01-01T00:00:00","itemCount":0,"returncode":null,"totalCount":0,"totalPages":0,"pageSize":0,"pageNumber":0},"links":[{"rel":"self","href":"http://api.ratings.food.gov.uk/establishments/484685"}]}],"meta":{"dataSource":"Lucene","extractDate":"2022-03-29T17:59:32.6037268+01:00","itemCount":1,"returncode":"OK","totalCount":1,"totalPages":1,"pageSize":5000,"pageNumber":1},"links":[{"rel":"self","href":"http://api.ratings.food.gov.uk/establishments?name=fishcotheque&address=se1%208ud"}]}'

In [114]:
hyg = json.loads(response.text)

In [117]:
hyg

{'establishments': [{'FHRSID': 484685,
   'ChangesByServerID': 0,
   'LocalAuthorityBusinessID': '83870/0079/A/000',
   'BusinessName': 'Fishcotheque',
   'BusinessType': 'Takeaway/sandwich shop',
   'BusinessTypeID': 7844,
   'AddressLine1': '79A Waterloo Road',
   'AddressLine2': 'London',
   'AddressLine3': '',
   'AddressLine4': '',
   'PostCode': 'SE1 8UD',
   'Phone': '',
   'RatingValue': '4',
   'RatingKey': 'fhrs_4_en-gb',
   'RatingDate': '2021-01-09T00:00:00',
   'LocalAuthorityCode': '522',
   'LocalAuthorityName': 'Lambeth',
   'LocalAuthorityWebSite': 'http://www.lambeth.gov.uk',
   'LocalAuthorityEmailAddress': 'foodhealthandsafety@lambeth.gov.uk',
   'scores': {'Hygiene': 5, 'Structural': 10, 'ConfidenceInManagement': 5},
   'SchemeType': 'FHRS',
   'geocode': {'longitude': '-0.111763', 'latitude': '51.504095'},
   'RightToReply': '',
   'Distance': None,
   'NewRatingPending': False,
   'meta': {'dataSource': None,
    'extractDate': '0001-01-01T00:00:00',
    'itemCount': 0,
    'returncode': None,
    'totalCount': 0,
    'totalPages': 0,
    'pageSize': 0,
    'pageNumber': 0},
   'links': [{'rel': 'self',
     'href': 'http://api.ratings.food.gov.uk/establishments/484685'}]}],
 'meta': {'dataSource': 'Lucene',
  'extractDate': '2022-03-29T17:59:32.6037268+01:00',
  'itemCount': 1,
  'returncode': 'OK',
  'totalCount': 1,
  'totalPages': 1,
  'pageSize': 5000,
  'pageNumber': 1},
 'links': [{'rel': 'self',
   'href': 'http://api.ratings.food.gov.uk/establishments?name=fishcotheque&address=se1%208ud'}]}

In [125]:
hyg['establishments'][0]['RatingValue']

'4'

In [82]:
pathlist = []

for filepath in glob.iglob('/project/json/*.json'):
    pathlist.append(filepath)

In [84]:
pathlist

['/project/json/Fishcotheque.json',
 '/project/json/The Pride of Spitalfields London.json',
 '/project/json/The Clink Brixton.json',
 '/project/json/Muhib Indian cuisine.json',
 '/project/json/28-50 Wine Workshop & Kitchen.json',
 '/project/json/Dobar.json',
 '/project/json/Featherblade Steak Restaurant.json',
 '/project/json/Bel Canto.json',
 '/project/json/Bengal Village - Best of Brick Lane.json',
 '/project/json/The Ledbury.json',
 '/project/json/Azou Restaurant.json',
 '/project/json/The Great Chase.json',
 '/project/json/Bar Remo.json',
 '/project/json/Wolkite restaurant.json',
 "/project/json/Sam's Riverside.json",
 '/project/json/Luna Rossa.json',
 '/project/json/Peninsula Restaurant.json',
 '/project/json/Kahani Restaurant Sloane Square.json',
 '/project/json/EaTurkish.json',
 '/project/json/Indian Room.json',
 '/project/json/Lord Wargrave.json',
 '/project/json/Lorne.json',
 '/project/json/Core by Clare Smyth.json',
 '/project/json/The Bull Steak Expert.json',
 '/project/json/Chez Abir Lebanese Restaurant.json',
 '/project/json/TOKii.json',
 '/project/json/The India - Best of The City.json',
 '/project/json/Buenos Aires.json',
 '/project/json/Nonna Selena Pizzeria.json',
 '/project/json/Ciullosteria.json',
 '/project/json/Shahi Pakwaan.json',
 '/project/json/Zeret Kitchen.json',
 '/project/json/Champagne Brunch at The Landmark London.json',
 '/project/json/Amber Restaurant.json',
 '/project/json/Figo Leyton.json',
 '/project/json/Trattoria Raffaele.json',
 '/project/json/Little Wonder Cafe.json',
 '/project/json/The Rosebery.json',
 "/project/json/Lizzie's Cucina - Italian Restaurant.json",
 '/project/json/Awesome Thai #Finchley.json',
 '/project/json/Kings Stores.json',
 '/project/json/TANAKATSU.json',
 '/project/json/Galvin La Chapelle.json',
 '/project/json/Humble Grape.json',
 '/project/json/Amrutha Lounge.json',
 '/project/json/Flora Indica.json',
 '/project/json/Magic Falafel.json',
 '/project/json/Mildreds Camden.json',
 '/project/json/Radicals And Victuallers.json',
 '/project/json/Chisou Sushi and Izakaya.json',
 '/project/json/The Rajdoot.json',
 '/project/json/Prince of Wales, Brixton.json',
 '/project/json/Fugitive Motel.json',
 '/project/json/Il Girasole restaurant.json',
 '/project/json/Bella Vita.json',
 '/project/json/The Jasmine By Spice Nouv-Oh!.json',
 '/project/json/taNgia.json',
 '/project/json/Sanjugo Shoreditch.json',
 '/project/json/Oi Vita Pizzeria.json',
 '/project/json/Pivaz.json',
 '/project/json/Compa√±ero.json',
 '/project/json/Rock Star Sushi Bar.json',
 '/project/json/The Union Tavern.json',
 '/project/json/Seven Park Place by William Drabble.json',
 '/project/json/Liman Restaurant.json',
 '/project/json/The Swan.json',
 '/project/json/Tower Tandoori Restaurant.json',
 '/project/json/Casa Tua Camden.json',
 '/project/json/Cafe de Provence.json',
 '/project/json/Pentolina.json',
 '/project/json/Frog by Adam Handling Restaurant Covent Garden.json',
 '/project/json/The Prince of Greenwich Pub.json',
 '/project/json/Osteria Napoletana.json',
 '/project/json/Hibox.json',
 '/project/json/Monkey Temple.json',
 '/project/json/Miller Group Limited.json',
 '/project/json/Salut! Restaurant Islington.json',
 '/project/json/The Monsoon.json',
 '/project/json/B Bagel Fulham.json',
 '/project/json/E Pellicci.json',
 '/project/json/The Five Fields.json',
 '/project/json/The Hampshire.json',
 '/project/json/Bebs Kitchen.json',
 '/project/json/The Famous Curry Bazaar.json',
 '/project/json/CERU South Kensington.json',
 '/project/json/Light Of India.json',
 '/project/json/Bella Italia - Cranbourn Street.json',
 '/project/json/Flour to the People!.json',
 '/project/json/Wassouf Lounge.json',
 '/project/json/Pizza Sophia.json',
 '/project/json/Zala grill.json',
 '/project/json/Lanes of London.json',
 '/project/json/Katakata.json',
 '/project/json/London Shell Co..json',
 '/project/json/Wolf+Spoon.json',
 '/project/json/Turtle Bay Brixton.json',
 '/project/json/Panas Gurkha Restaurant.json',
 '/project/json/Kazan Restaurant.json',
 '/project/json/Gloria.json',
 '/project/json/Pane Cunzato - Italian Pizza Restaurant.json',
 '/project/json/Las Iguanas - London - The O2.json',
 '/project/json/Falafel Feast.json',
 '/project/json/La Piccola Deli Pasticceria.json',
 '/project/json/Treves (UK) Ltd.json',
 "/project/json/Double J'S Cafe.json",
 '/project/json/Niche Gluten-free Dining.json',
 '/project/json/Caminata.json',
 '/project/json/Sapori.json',
 '/project/json/Nepal Authentic Dining.json',
 '/project/json/Nipa Thai.json',
 '/project/json/Fine Foods - Locanda del Melo.json',
 '/project/json/Terra Rossa.json',
 '/project/json/Alcedo Bistro & Bar.json',
 '/project/json/Le Petit Citron.json',
 '/project/json/Alexandrie Restaurant.json',
 '/project/json/Chez Antoinette Victoria.json',
 '/project/json/Mountain view.json',
 '/project/json/Golden Chippy.json',
 '/project/json/Tonis Amalfi Italian Restaurant & Pizzeria.json',
 '/project/json/Wild Thyme Cafe.json',
 '/project/json/Popolo Shoreditch.json',
 '/project/json/The Bar.json',
 '/project/json/Flat Iron London Bridge.json',
 '/project/json/Myrtle Restaurant.json',
 '/project/json/Cirrik 19 Numara Bos.json',
 '/project/json/The Victoria, Paddington.json',
 '/project/json/Purezza Camden.json',
 '/project/json/The Blacksmiths Arms.json',
 '/project/json/Cafe Van Gogh.json',
 '/project/json/Daphne Restaurant.json',
 '/project/json/Palms of Goa.json',
 '/project/json/Kona.json',
 '/project/json/The Wilmington.json',
 '/project/json/Bonoo Indian Tapas.json',
 "/project/json/Limin' Beach Club.json",
 '/project/json/Home SW15.json',
 '/project/json/Apr√®s Food for Body and Mind.json',
 '/project/json/Mestizo Mexican Restaurant.json',
 '/project/json/The Shell.json',
 '/project/json/Jolie - French Restaurant, Brunch & Terrace.json',
 '/project/json/Pure Indian cooking.json',
 '/project/json/Morso Abbey Road.json',
 '/project/json/Filika Restaurant.json',
 "/project/json/Otto's French Restaurant London.json",
 '/project/json/Spasso.json',
 '/project/json/Luna Nuova.json',
 '/project/json/The Wine Place Covent Garden.json',
 '/project/json/Capeesh.json',
 '/project/json/Yuu Kitchen.json',
 '/project/json/The Oystermen Seafood Bar & Kitchen.json',
 '/project/json/Andy‚Äôs Greek Taverna.json',
 '/project/json/Mosob Restaurant.json',
 '/project/json/Maurizio Barca.json',
 '/project/json/Wiltons Restaurant.json',
 '/project/json/Baileys.json',
 '/project/json/Volare.json',
 '/project/json/Caf√© Amisha.json',
 '/project/json/Chez Elles Bistroquet.json',
 '/project/json/Richard‚Äôs Kitchen.json',
 '/project/json/Oliveira Kitchen.json',
 "/project/json/Khan's of Kensington.json",
 '/project/json/Taste of India NW1.json',
 '/project/json/La Trompette.json',
 '/project/json/Anglo.json',
 '/project/json/Moira Restaurant.json',
 "/project/json/Manuel's Italian and Mediterranean Restaurant and Bar.json",
 '/project/json/Sushi Tetsu.json',
 '/project/json/Standard Balti House.json',
 '/project/json/Tom Simmons - Tower Bridge.json',
 '/project/json/The Petite Cor√©e.json',
 '/project/json/AW Restaurant.json',
 '/project/json/Alexander The Great Restaurant.json',
 '/project/json/Launceston Place.json',
 '/project/json/Bayleaf Restaurant.json',
 '/project/json/Chettinad Restaurant.json',
 '/project/json/√î Gourmet Libanais.json',
 '/project/json/Cappadocia Cafe & Bistro.json',
 '/project/json/Cafe Parisienne.json',
 '/project/json/Grato.json',
 '/project/json/JW Steakhouse.json',
 '/project/json/Dhaba@49.json',
 '/project/json/Anjanaas.json',
 '/project/json/Da Mario Covent Garden.json',
 '/project/json/Laurent at Caf√© Royal.json',
 "/project/json/Scully St James's.json",
 '/project/json/The Peasant.json',
 '/project/json/Indian Express.json',
 '/project/json/Monmouth Kitchen.json',
 "/project/json/Rudy's Neapolitan Pizza - Soho.json",
 '/project/json/Venerdi.json',
 '/project/json/Indian Lounge.json',
 '/project/json/Hard Rock Cafe.json',
 '/project/json/Midpoint Restaurant.json',
 '/project/json/Knife.json',
 '/project/json/Cibo.json',
 '/project/json/Chamisse.json',
 '/project/json/Hungry Turtle.json',
 '/project/json/Senzala Creperie.json',
 '/project/json/Latitude Restaurant.json',
 '/project/json/The Banc.json',
 '/project/json/RodFai.json',
 '/project/json/Bar 61 Restaurant.json',
 '/project/json/The Spice.json',
 '/project/json/Kamasutra Indian Restaurant.json',
 '/project/json/Kibele Restaurant.json',
 '/project/json/Rossella.json',
 '/project/json/MAP Maison.json',
 '/project/json/Osteria Romana.json',
 '/project/json/The Sitara.json',
 '/project/json/Food at Fishers Ltd.json',
 '/project/json/Paladar.json',
 '/project/json/Medlar.json',
 '/project/json/El Inca Plebeyo Restaurant.json',
 '/project/json/Boro Bistro.json',
 '/project/json/Iznik.json',
 '/project/json/Eastern Eye Balti House.json',
 '/project/json/The Little Taperia.json',
 '/project/json/Pizza Pilgrims.json',
 '/project/json/The White Onion.json',
 '/project/json/Bruce Burgers.json',
 '/project/json/215 Hackney.json',
 '/project/json/Dean Street Townhouse.json',
 '/project/json/Brick Lane Brasserie.json',
 '/project/json/Bloomsbury Street Kitchen.json',
 '/project/json/Goodman - Mayfair.json',
 '/project/json/Lentil Nepalese, Indian Cusine.json',
 '/project/json/Blighty - a very British cafe.json',
 '/project/json/Pizzetta.json',
 '/project/json/PERA Bistro.json',
 '/project/json/Ishtar.json',
 '/project/json/Memories of India Kensington.json',
 '/project/json/De Vine.json',
 '/project/json/Revolution London - Clapham High St.json',
 '/project/json/Augustine Kitchen.json',
 '/project/json/The Rajdoot Hampstead.json',
 '/project/json/Chez Bruce.json',
 '/project/json/Arro Coffee - Bayswater.json',
 '/project/json/Salento Restaurant - Bar - pizzeria - Italian food grocery -.json',
 '/project/json/Constancia.json',
 '/project/json/Dalloway Terrace.json',
 '/project/json/Scarlett Green.json',
 '/project/json/Little India.json',
 '/project/json/Llerena.json',
 '/project/json/Fish Central.json',
 '/project/json/Smiths of Wapping.json',
 '/project/json/Hazara Restaurants.json',
 "/project/json/Tania's Of Hampstead.json",
 '/project/json/Dishoom Carnaby.json',
 "/project/json/L'oro di Napoli Ealing.json",
 '/project/json/Blacklock Shoreditch.json',
 '/project/json/The Foyer & Reading Room.json',
 "/project/json/Sergio's.json",
 '/project/json/ChoJo.json',
 '/project/json/Mio Restaurant bar.json',
 '/project/json/New London Cafe.json',
 '/project/json/Iran Restaurant.json',
 '/project/json/Hiba Street Food.json',
 '/project/json/Fast Break.json',
 '/project/json/Everest Inn.json',
 '/project/json/Trinity.json',
 '/project/json/Revolution London - Putney.json',
 '/project/json/Indian Moment.json',
 '/project/json/Tomo Pizzeria-Restaurant.json',
 '/project/json/Humble Grape Islington.json',
 '/project/json/Yum Sa.json',
 '/project/json/Sky Pod Bar.json',
 '/project/json/Yucca London.json',
 '/project/json/Humble Grape Liverpool Street.json',
 "/project/json/Fiddie's.json",
 '/project/json/The Lounge Cafe Wembley.json',
 '/project/json/Plate Restaurant.json',
 '/project/json/Taste of Nawab.json',
 '/project/json/Dulce Coffee London.json',
 '/project/json/NORA CAFE.json',
 '/project/json/The Chelsea Corner.json',
 '/project/json/Room 43 bar Clapham.json',
 '/project/json/The Gojk Restaurant Lounge.json',
 "/project/json/L'Angolo Bianco.json",
 '/project/json/The Cocktail Trading Co. Brick Lane.json',
 '/project/json/Blacklock City.json',
 '/project/json/May Fair Kitchen.json',
 '/project/json/Blacklock Soho.json',
 '/project/json/Steak & Lobster Warren Street.json',
 '/project/json/Specialist Cellars.json',
 '/project/json/Vincent Rooms.json',
 '/project/json/Barge East Restaurant.json',
 '/project/json/Ormer Mayfair Restaurant.json',
 '/project/json/Almas Restaurant.json',
 '/project/json/Leicester Square Kitchen.json',
 '/project/json/Becks cafe.json',
 '/project/json/The Hayden Pub & Rooms.json',
 '/project/json/Bella Roma - Italian Restaurant.json',
 '/project/json/Afternoon Tea at The Park Room.json',
 '/project/json/Mangia Bene.json']

In [85]:
with open('/project/json/Fishcotheque.json', mode='r') as d:
    data = json.load(d)

In [97]:
identifier_list = []
restaurant_list = []
postcode_list = []

In [98]:
for i in pathlist:
    with open(i, mode='r') as d:
        data = json.load(d)
    identifier = data['result']['name'].replace(" ", "").replace("'", "").replace("‚Äô", "").lower()
    identifier_list.append(identifier)
    restaurant_name = data['result']['name'].replace("'", "").replace("‚Äô", "")
    restaurant_list.append(restaurant_name)
    postcode = data['result']['address_components'][-1]['long_name']
    postcode_list.append(postcode)

In [100]:
hygiene_df = pd.DataFrame(
    {'restaurant_id':identifier_list,
     'restaurant_name':restaurant_list,
     'postcode':postcode_list
    })

In [142]:
hygiene_df

                    restaurant_id                   restaurant_name  postcode
0                    fishcotheque                      Fishcotheque   SE1 8UD
1    theprideofspitalfieldslondon  The Pride of Spitalfields London    E1 5LJ
2                 theclinkbrixton                 The Clink Brixton   SW2 5XF
3              muhibindiancuisine              Muhib Indian cuisine    E1 6QL
4       28-50wineworkshop&kitchen     28-50 Wine Workshop & Kitchen   W1U 2NE
..                            ...                               ...       ...
289                     beckscafe                        Becks cafe  WC1R 4PS
290            thehaydenpub&rooms            The Hayden Pub & Rooms    W2 4UJ
291   bellaroma-italianrestaurant   Bella Roma - Italian Restaurant  SE13 6BG
292     afternoonteaattheparkroom    Afternoon Tea at The Park Room   W1K 7TN
293                    mangiabene                       Mangia Bene    N1 9EZ

[294 rows x 3 columns]

In [126]:
mydict = {}

In [137]:
for i in range(295):
    try:
        headers = {'content_length':'2225', 'x-api-version': '2', "accept":'application/json'}
        response = requests.get(f'https://api.ratings.food.gov.uk/Establishments?name={restaurant_list[i]}&address={postcode_list[i]}', headers=headers)
        hyg = json.loads(response.text)
        mydict[str(restaurant_list[i])] = hyg['establishments'][0]['RatingValue']
    except:
        pass

In [138]:
headers = {'content_length':'2225', 'x-api-version': '2', "accept":'application/json'}
response = requests.get(f'https://api.ratings.food.gov.uk/Establishments?name=Fishcotheque&address=SE1 8UD', headers=headers)
hyg = json.loads(response.text)
mydict[str(row['restaurant_name'])] = hyg['establishments'][0]['RatingValue']

In [143]:
mydict

{'Fishcotheque': '4',
 'The Pride of Spitalfields London': '4',
 'Muhib Indian cuisine': '4',
 'Dobar': '4',
 'Bel Canto': '5',
 'The Ledbury': '5',
 'The Great Chase': '3',
 'Bar Remo': '3',
 'Wolkite restaurant': '3',
 'EaTurkish': '5',
 'Indian Room': '5',
 'Lord Wargrave': '4',
 'Lorne': '5',
 'The Bull Steak Expert': '4',
 'Buenos Aires': '5',
 'Ciullosteria': '4',
 'Shahi Pakwaan': '4',
 'Zeret Kitchen': '5',
 'Trattoria Raffaele': '5',
 'Little Wonder Cafe': '5',
 'Kings Stores': '5',
 'TANAKATSU': '5',
 'Galvin La Chapelle': '5',
 'Humble Grape': '5',
 'Amrutha Lounge': '4',
 'Flora Indica': '4',
 'Magic Falafel': '5',
 'Radicals And Victuallers': '5',
 'The Rajdoot': '4',
 'Fugitive Motel': '5',
 'Bella Vita': '5',
 'The Jasmine By Spice Nouv-Oh!': '4',
 'Pivaz': '3',
 'Rock Star Sushi Bar': '5',
 'The Union Tavern': '3',
 'The Swan': '5',
 'Tower Tandoori Restaurant': '5',
 'Cafe de Provence': '3',
 'Pentolina': '5',
 'Osteria Napoletana': '5',
 'Hibox': '1',
 'Monkey Temple': '4',
 'The Monsoon': '3',
 'E Pellicci': '5',
 'The Five Fields': 'AwaitingInspection',
 'The Hampshire': '3',
 'Bebs Kitchen': '5',
 'Flour to the People!': '5',
 'Wassouf Lounge': '5',
 'Pizza Sophia': '5',
 'Lanes of London': '3',
 'Katakata': '3',
 'Panas Gurkha Restaurant': '5',
 'Gloria': '5',
 'Falafel Feast': '3',
 'Caminata': '5',
 'Sapori': '4',
 'Nepal Authentic Dining': '4',
 'Terra Rossa': '3',
 'Le Petit Citron': '5',
 'Mountain view': '5',
 'Golden Chippy': '5',
 'Myrtle Restaurant': '5',
 'The Blacksmiths Arms': '5',
 'Cafe Van Gogh': '5',
 'Daphne Restaurant': '5',
 'Palms of Goa': '4',
 'The Wilmington': '5',
 'Bonoo Indian Tapas': '5',
 'Home SW15': '5',
 'The Shell': '5',
 'Pure Indian cooking': '5',
 'Filika Restaurant': '4',
 'Spasso': '4',
 'Capeesh': '4',
 'Yuu Kitchen': '5',
 'Maurizio Barca': '5',
 'Wiltons Restaurant': '5',
 'Baileys': '4',
 'Volare': '5',
 'Caf√© Amisha': '5',
 'Richards Kitchen': '5',
 'Khans of Kensington': '5',
 'La Trompette': '5',
 'Anglo': '4',
 'Moira Restaurant': '5',
 'Standard Balti House': '5',
 'The Petite Cor√©e': '3',
 'Bayleaf Restaurant': '5',
 'Grato': '5',
 'Anjanaas': 'AwaitingInspection',
 'Scully St Jamess': '5',
 'The Peasant': '5',
 'Indian Express': '5',
 'Venerdi': '3',
 'Indian Lounge': '4',
 'Hard Rock Cafe': '5',
 'Midpoint Restaurant': '5',
 'Knife': '4',
 'Cibo': '5',
 'Chamisse': '3',
 'Hungry Turtle': '4',
 'The Banc': '5',
 'RodFai': '3',
 'The Spice': '4',
 'Kamasutra Indian Restaurant': '5',
 'Rossella': '4',
 'MAP Maison': '5',
 'Osteria Romana': '5',
 'The Sitara': '3',
 'Paladar': '4',
 'Medlar': '5',
 'Boro Bistro': '5',
 'Iznik': '4',
 'Eastern Eye Balti House': '5',
 'Pizza Pilgrims': '5',
 'The White Onion': '5',
 'Bruce Burgers': '5',
 'Brick Lane Brasserie': '5',
 'Pizzetta': '5',
 'Ishtar': '4',
 'De Vine': '4',
 'Augustine Kitchen': '5',
 'Chez Bruce': '5',
 'Constancia': '5',
 'Scarlett Green': '5',
 'Little India': '5',
 'Llerena': '5',
 'Fish Central': '4',
 'Hazara Restaurants': '4',
 'Tanias Of Hampstead': '3',
 'Sergios': '5',
 'Mio Restaurant bar': '4',
 'New London Cafe': '4',
 'Iran Restaurant': '2',
 'Fast Break': '3',
 'Everest Inn': '5',
 'Trinity': '5',
 'Indian Moment': '5',
 'Yum Sa': '5',
 'Fiddies': '5',
 'Plate Restaurant': '5',
 'Taste of Nawab': '3',
 'NORA CAFE': '5',
 'The Chelsea Corner': '5',
 'Blacklock Soho': '5',
 'Becks cafe': '4',
 'Mangia Bene': '4'}

In [144]:
hyg_df = pd.DataFrame(mydict.items(), columns=['restaurant_name', 'hygiene_rating'])

In [145]:
hyg_df

                      restaurant_name hygiene_rating
0                        Fishcotheque              4
1    The Pride of Spitalfields London              4
2                Muhib Indian cuisine              4
3                               Dobar              4
4                           Bel Canto              5
..                                ...            ...
143                         NORA CAFE              5
144                The Chelsea Corner              5
145                    Blacklock Soho              5
146                        Becks cafe              4
147                       Mangia Bene              4

[148 rows x 2 columns]

In [146]:
hygiene_df2 = pd.merge(hygiene_df, hyg_df, left_on='restaurant_name', right_on='restaurant_name')

In [150]:
hygiene_df2.hygiene_rating.unique()

array(['4', '5', '3', '1', 'AwaitingInspection', '2'], dtype=object)

In [152]:
hygiene_df3 = hygiene_df2[hygiene_df2['hygiene_rating'] != 'AwaitingInspection']

In [153]:
hygiene_df3.to_csv('hygiene_rating.csv')

In [154]:
hygiene_df3

,restaurant_id,restaurant_name,postcode,hygiene_rating
0,fishcotheque,Fishcotheque,SE1 8UD,4
1,theprideofspitalfieldslondon,The Pride of Spitalfields London,E1 5LJ,4
2,muhibindiancuisine,Muhib Indian cuisine,E1 6QL,4
3,dobar,Dobar,N4 1BX,4
4,belcanto,Bel Canto,W2 3LG,5
...,...,...,...,...
143,noracafe,NORA CAFE,E1 7TB,5
144,thechelseacorner,The Chelsea Corner,SW10 9UZ,5
145,blacklocksoho,Blacklock Soho,W1D 7LG,5
146,beckscafe,Becks cafe,WC1R 4PS,4
147,mangiabene,Mangia Bene,N1 9EZ,4

In [174]:
def hygiene_etl(x):
    table_name = 'public.hygiene_rating'
    sql_string = f'INSERT INTO {table_name}\nVALUES {x};'

    conn = connect(
        dbname = "initialdatabase",
        user = "yourname",
        host = "demsin0166.czfwea5noxbs.eu-west-2.rds.amazonaws.com",
        password = "password")
    
    cur = conn.cursor()
    
    try:
        cur.execute( sql_string )
        conn.commit()
        print(f'added to database')
    except:
        pass
    
    cur.close()
    conn.close()

In [175]:
for index, row in hygiene_df3.iterrows():
    x  = f"('{row['restaurant_id']}',{row['hygiene_rating']})"
    hygiene_etl(x)

added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database
added to database